<div class="center">
  <%= form_for @brunch_list do |f| %>
    <p>
      <%= f.label :restaurant %>
      <%= f.text_field :restaurant %>
    </p>

    <p>
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </p>

    <p>
      <%= f.submit 'Update Restaurant' %>
    </p>
  <% end %>
</div>