<div class="center">

  <h1>Add a Brunch List</h1>
<table class="table_center">
  <%= form_for @brunch_list do |f| %>
    <tr>
    <p>
     <td> <%= f.label :restaurant %></td>
     <td> <%= f.text_field :restaurant %></td>
    </p>
    </tr>
    <tr>
    <p>
    <td><%= f.label :rating %></td>
    <td><%= f.text_field :rating %></td>
    </p>
    </tr>
    <tr>
    <p>
      <td></td>
      <td><%= f.submit 'Add brunch spot' %></td>
    </p>
    </tr>
  <% end %>
</table>

  <% @brunch_lists.each do |brunch| %>
    <ul>
      <li>
        <%= link_to "#{brunch.restaurant}", brunch_list_path(brunch) %>, <%= brunch.rating %>
      </li>
    </ul>
  <% end %>
</div>