<div class="center">

  <h1>Add a Brunch List</h1>

  <%= form_for @brunch_list do |f| %>
    <p>
      <%= f.label :restaurant %>
      <%= f.text_field :restaurant %>
    </p>

    <p>
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </p>

    <p>
      <%= f.submit 'Add brunch spot' %>
    </p>
  <% end %>

  <% @brunch_lists.each do |brunch| %>
    <ul>
      <li>
        <%= link_to "#{brunch.restaurant}", brunch_list_path(brunch) %>, <%= brunch.rating %>
      </li>
    </ul>
  <% end %>
</div>